.env
venv/
__pycache__/
runs
mlruns
*.pt
data/training/container_images/*.png
data/training/captured_images/*.png
containerDetection/training.json
containerDetection/val.json
damageDetection/test.py
damageDetection/test2.py
