matplotlib
matplotlib-inline
mlflow
numpy
opencv-python
opencv-python-headless
pandas
pickleshare
Pillow
progressbar2
pycocotools
scikit-image
scikit-learn
selectivesearch
setuptools
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
torch-snippets
